{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Listar Estado de Ánimo
{% endblock %}

{% block content %}
<br>
<div class="row">
{% include 'pacientes/menu_diario_medico.html' %}
</div>
<div class="span8">
  <div class="col-lg-12">
    <div class="panel panel-default">
                               <div class="panel-heading">
                             <h3 class="panel-title"> </h3>
                  <a href="{% url 'listar_estado_animo_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-thumbs-up"></i> Estado de ánimo actual</button></a>
                          
                            </div>
                            <div class="panel-body">
                            <p class="navbar-text">Estados de ánimo</p>
            <div class="col-lg-6">
              <div class="panel panel-default">
                        <div class="panel-heading">
                           <a href="{% url 'ingresar_estado_animo_paciente' %}"><h4><i class="fa fa-plus-square"></i> Adicionar estado de ánimo</h4></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
          
                                            <th>Puntuación</th>
                                            <th>Hace</th>
                                         
                                        </tr>
                                    </thead>
                                    {% for estado in object_list %}
                                    <tbody>
                                        <tr>
                                            <td>{{estado.estado}}</td>
                                            <td>{{estado.timestamp|timesince}}</td>
                                             <td>
                                                 <a href="{% url 'eliminar_estado_animo_paciente' estado.id %}">Eliminar</a>
   
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->

{% endblock %}
