{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Ingresar Estado de Ánimo
{% endblock %}

{% block content %}
<br>
<div class="row">
{% include 'pacientes/menu_diario_medico.html' %}
</div>
  <div class="span6">
    <div class="panel panel-default">
                               <div class="panel-heading">
                             <h3 class="panel-title"> </h3>
                  <a href="{% url 'listar_estado_animo_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Estado de ánimo actual</button></a>
                          
                            </div>
                            <div class="panel-body">
                            <p class="navbar-text">Estados de ánimo</p>	
                            <div class="col-lg-4">
                    <div class="well well-sm">
                    <div class="alert alert-info">
                        <h5><label>Nivel: 1 - 10 </label></h5>
   
 
<div id="slider-vertical" style="height:20px;width:320px"></div>
<br>
<p>
  <label for="estado">Puntuación:</label>
  <i class="fa fa-frown-o fa-2x"></i><input type="text" id="estado" readonly style="border:0; color:#f6931f; font-weight:bold; width:250px"><i class="fa fa-smile-o fa-2x"></i>
</p>
                                     <form enctype="multipart/form-data" class="form-horizontal" method="POST">{% csrf_token %}
              {{ form }}
              <p></p>
              <div class="tooltip-demo">
 <button type="submit" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ingresar Estado"><i class="fa fa-check"></i></button>
 </div>
 <p></p>
              </form>
                    </div>
                </div>
        
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
