{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Listar Historial de Cirugías
{% endblock %}

{% block content %}
<br>
<h1 class="page-header">Mi Historia Clínica</h1>
<p>
<a href="{% url 'listar_resumenclinico_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis Antecedentes</button></a>
                              
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                               <a href="{% url 'listar_resumenclinico_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mi Historia Médica</button></a>
                               <a href="{% url 'listar_enfermedad_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mis Enfermedades</button></a>
                               <a href="{% url 'listar_cirugia_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mis Cirugías</button></a>
                            </div>
                            <div class="panel-body">
                           <div class="col-lg-6">
              <div class="panel panel-default">
                        <div class="panel-heading">
                           <a href="{% url 'ingresar_cirugia_paciente' %}"><h4><i class="fa fa-plus-square"></i> Adicionar Cirugia</h4></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
          
                                            <th>Cirugia</th>
                                         
                                        </tr>
                                    </thead>
                                    {% for cirugia in object_list %}
                                    <tbody>
                                        <tr>
                                            <td>{{cirugia.nombre}}</td>
                                             <td>
                                                 <a href={% url 'eliminar_cirugia_paciente' cirugia.id %}>Eliminar</a>
                                               
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
