        <div class="box">
            <div class="box pattern pattern-sandstone">
                <div class="box-header">
                    <i class="icon-list"></i>
                    <h5>Tus Clubes</h5>
                    <button class="btn btn-box-right" data-toggle="collapse" data-target=".box-list">
                        <i class="icon-reorder"></i>
                    </button>
                </div>
                <div class="box-content box-list in collapse" style="height: auto;">
                    <ul>
                        <li><a href="#">Diabetes</a>
                        </li>
                        <li><a href="#">Hipertensión</a>
                        </li>
                        <li><a href="#">Riesgo Cardiovascular</a>
                        </li>
                        <li><a href="#">Insuficiencia Renal</a>
                        </li>
                        <li><a href="#">Cancer</a>
                        </li>
                        <li><a href="#">Artritis</a>
                        </li>
                        <li><a href="#">Climaterio & Menopausia</a>
                        </li>
                        <li><a href="#">Pediatría</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>