       <div class="box">

          <div class="box-header">
              <i class="icon-bookmark"></i>
              <h5>Mis Aplicaciones</h5>
          </div>
          <div class="box-content">
              <div class="btn-group-box">                

                      <a href="/home/pr/creacion"><button class="btn"><i class="icon-question-sign icon-large"></i><br>Respuestas a pacientes</button></a>
                    <a href="/home/servicios/creacion"><button class="btn"><i class="icon-share icon-large"></i><br>Servicios</button></a>
                    <a href={% url 'ingresar_entrada_blog' %}><button class="btn"><i class="icon-tags icon-large"></i><br>Artículos</button></a>
                                      
              </div>
          </div>
      </div>