   <div class="box-content">
              <div class="btn-group-box">
                  <a href="/home/"><button class="btn"><i class="icon-user icon-large"></i><br>Personales</button></a>
                  <a href="/home/contacto"><button class="btn"><i class="icon-users icon-large"></i><br>Contacto</button></a>
                  <a href="/home/academico"><button class="btn"><i class="icon-book icon-large"></i><br>Académico</button></a>
                  <a href="/home/profesional/"><button class="btn"><i class="icon-tasks icon-large"></i><br>Profesional</button></a>
                  <a href="/home/social"><button class="btn"><i class="icon-comments icon-large"></i><br>Social</button></a>
                  <a href="{% url 'ingresar_club_medico' %}"><button class="btn"><i class="icon-folder-open icon-large"></i><br>Clubes</button></a>

              </div>
          </div>