{% extends "inicio/board.html" %}

{% block title %}
Datos Personales
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Tus Datos Personales
        </a>
      </h4>
    </div>
    <!-- Desplegable 1 -->
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

   <form class="form-horizontal" method="POST">{% csrf_token %}
    <fieldset>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="dni">Documento de Identidad</label>
  <div class="controls">
    <input id="dni" name="dni" type="text" placeholder="ingrese su número de id" class="input-large" required="">
    <p class="help-block">ej: 71794069</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="apellidos">Apellidos</label>
  <div class="controls">
    <input id="apellidos" name="apellidos" type="text" placeholder="" class="input-large" required="">

  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nombre">Nombre</label>
  <div class="controls">
    <input id="nombre" name="nombre" type="text" placeholder="" class="input-large" required="">

  </div>
</div>
<!-- Text input -->
<div class="control-group">
  <label class="control-label" for="extracto">Reseña Personal</label>
  <div class="controls">
    <textarea id="extracto" name="Reseña personal" placeholder="Escribe una pequeña reseña sobre ti">Escribe aquí</textarea>
  </div>
</div>

		<!-- Button -->
  <div class="control-group">
    <label class="control-label" for="enviar"></label>
    <div class="controls">
      <button id="enviar" name="enviar" class="btn btn-primary">Enviar</button>
    </div>
  </div>
    <!-- Text input-->

    </fieldset>
    </form>
    </div>
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Tus Contactos
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <form class="form-horizontal">
        <fieldset>
        <div class="control-group">
  <label class="control-label" for="selecdpto">Departamento</label>
  <div class="controls">
    <select id="selecdpto" name="selecdpto" class="input-medium">
      <option>Amazonas</option>
      <option>Antioquia</option>
      <option>Arauca</option>
      <option>Atlántico</option>
      <option>Bolívar</option>
      <option>Boyacá</option>
      <option>Caldas</option>
      <option>Caquetá</option>
      <option>Casanare</option>
      <option>Cauca</option>
      <option>Cesar</option>
      <option>Chocó</option>
      <option>Córdoba</option>
      <option>Cundinamarca</option>
      <option>Guainía</option>
      <option>Guaviare</option>
      <option>Huila</option>
      <option>La Guajira</option>
      <option>Magdalena</option>
      <option>Meta</option>
      <option>Nariño</option>
      <option>Norte de Santander</option>
      <option>Putumayo</option>
      <option>Quindío</option>
      <option>Risaralda</option>
      <option>San Andrés y Providencia</option>
      <option>Santander</option>
      <option>Sucre</option>
      <option>Tolima</option>
      <option>Valle del Cauca</option>
      <option>Vaupés</option>
      <option>Vichada</option>
    </select>
  </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group">
  <label class="control-label" for="seleciudades">Ciudades</label>
  <div class="controls">
    <select id="seleciudades" name="seleciudades" class="input-medium">
      <option>Leticia</option>
      <option>Medellín</option>
      <option>Arauca</option>
      <option>Barranquilla</option>
      <option>Cartgena</option>
      <option>Tunja</option>
      <option>Manizales</option>
      <option>Florencia</option>
      <option>Yopal</option>
      <option>Popayán</option>
      <option>Valledupar</option>
      <option>Quibdó</option>
      <option>Montería</option>
      <option>Bogotá</option>
      <option>Puerto Inírida</option>
      <option>San José del Guaviare</option>
      <option>Neiva</option>
      <option>Riohacha</option>
      <option>Santa Marta</option>
      <option>Villavicencio</option>
      <option>Pasto</option>
      <option>Cúcuta</option>
      <option>Mocoa</option>
      <option>Armenia</option>
      <option>Pereira</option>
      <option>San Andres</option>
      <option>Bucaramanga</option>
      <option>Sincelejo</option>
      <option>Ibagué</option>
      <option>Cali</option>
      <option>Mitú</option>
      <option>Puerto Carreño</option>
    </select>
  </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="telefono">Teléfono</label>
  <div class="controls">
    <input id="telefono" name="telefono" type="text" placeholder="" class="input-medium">

  </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="celular">Celular</label>
  <div class="controls">
    <input id="celular" name="celular" type="text" placeholder="" class="input-medium">

  </div>
  </div>
  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="correoadd">Correo Adicional</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">@</span>
      <input id="correoadd" name="correoadd" class="input-xlarge" placeholder="" type="text">
    </div>

  </div>
  </div>


  <!-- Button -->
  <div class="control-group">
  <label class="control-label" for="Actualizar"></label>
  <div class="controls">
    <button id="enviar" name="enviar" class="btn btn-primary">Actualizar</button>
  </div>
  </div>
  </fieldset>
  </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Tus Redes Sociales
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
     <form class="form-horizontal">
  <fieldset>


  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="blog">Blog</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">http://</span>
      <input id="blog" name="blog" class="input-large" placeholder="" type="text">
    </div>

  </div>
  </div>

  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="twitter">Twitter</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"></span>
      <input id="twitter" name="twitter" class="input-medium" placeholder="" type="text">
    </div>

  </div>
  </div>

  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="facebook">Facebook</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"></span>
      <input id="facebook" name="facebook" class="input-medium" placeholder="" type="text">
    </div>

  </div>
  </div>

  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="youtube">YouTube</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"></span>
      <input id="youtube" name="youtube" class="input-medium" placeholder="" type="text">
    </div>

  </div>
  </div>

  <!-- Prepended text-->
  <div class="control-group">
  <label class="control-label" for="linkedin">Linkedin</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"></span>
      <input id="linkedin" name="linkedin" class="input-medium" placeholder="" type="text">
    </div>

  </div>
  </div>

  <!-- Button -->
  <div class="control-group">
  <label class="control-label" for="actualizar"></label>
  <div class="controls">
    <button id="actualizar" name="actualizar" class="btn btn-primary">Actualizar</button>
  </div>
  </div>

  </fieldset>
  </form>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Tu Perfil Profesional
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
     <form class="form-horizontal">
  <fieldset>


  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="organizacion">Nombre de la organización</label>
  <div class="controls">
    <input id="organizacion" name="organizacion" type="text" placeholder="ej: Clínica las vegas" class="input-large">

  </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group">
  <label class="control-label" for="especialidad">Especialidad</label>
  <div class="controls">
    <select id="especialidad" name="especialidad" class="input-xlarge"><option value="">Selecciona especialidad</option>
      <option value="9">Alergología</option>
      <option value="59">Andrología</option>
      <option value="10">Anestesiología</option>
      <option value="11">Angiología</option>
      <option value="7">Audioprótesis</option>
      <option value="12">Cardiología</option>
      <option value="13">Certificados médicos</option>
      <option value="15">Cirugía cardiovascular</option>
      <option value="14">Cirugía estética</option>
      <option value="16">Cirugía general</option>
      <option value="17">Cirugía maxilofacial</option>
      <option value="18">Cirugía pediátrica</option>
      <option value="19">Cirugía torácica</option>
      <option value="21">Dermatología</option>
      <option value="22">Digestivo</option>
      <option value="23">Endocrinología</option>
      <option value="2">Enfermería</option>
      <option value="24">Epidemiología</option>
      <option value="5">Farmacia</option>
      <option value="25">Fisioterapia</option>
      <option value="26">Geriatría</option>
      <option value="3">Gerocultura</option>
      <option value="27">Ginecología</option>
      <option value="28">Hematología</option>
      <option value="29">Logopedia</option>
      <option value="32">Medicina de familia</option>
      <option value="60">Medicina del trabajo</option>
      <option value="30">Medicina estética</option>
      <option value="1">Medicina General</option>
      <option value="33">Medicina interna</option>
      <option value="31">Medicina legal y forense</option>
      <option value="56">Medicina Preventiva</option>
      <option value="34">Nefrología</option>
      <option value="35">Neumología</option>
      <option value="36">Neurocirugía</option>
      <option value="37">Neurofisiología</option>
      <option value="38">Neurología</option>
      <option value="39">Nutrición y Dietética</option>
      <option value="8">Obstetricia</option>
      <option value="20">Odontología</option>
      <option value="40">Oftalmología y Optometría</option>
      <option value="41">Oncología</option>
      <option value="42">Otorrinolaringología</option>
      <option value="6">Pedagogía y Educación</option>
      <option value="43">Pediatría</option>
      <option value="44">Podología</option>
      <option value="45">Pruebas diagnósticas</option>
      <option value="46">Psicología</option>
      <option value="61">Psicología - Sexología</option>
      <option value="47">Psiquiatría</option>
      <option value="48">Rehabilitación</option>
      <option value="49">Reproducción asistida</option>
      <option value="50">Reumatología</option>
      <option value="51">Terapias alternativas</option>
      <option value="4">Trabajo social</option>
      <option value="52">Traumatología</option>
      <option value="53">Urología</option>
      <option value="54">Valoración del daño corporal</option></select>
    </select>
  </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="cargo">Cargo</label>
  <div class="controls">
    <input id="cargo" name="cargo" type="text" placeholder="ej: Médico cirugano" class="input-medium">

  </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group">
  <label class="control-label" for="aniosejercidos">Número de años ejercidos</label>
  <div class="controls">
    <select id="aniosejercidos" name="aniosejercidos" class="input-medium">
      <option>1 a 3</option>
      <option>3 a 5</option>
      <option>5 a 10</option>
      <option>Más de 10...</option>
    </select>
  </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="registro">Número de registro Profesional</label>
  <div class="controls">
    <input id="registro" name="registro" type="text" placeholder="" class="input-medium">

  </div>
  </div>

  <!-- Textarea -->
  <div class="control-group">
  <label class="control-label" for="descripcion">Descripción</label>
  <div class="controls">
    <textarea id="descripcion" name="descripcion">Funciones realizadas</textarea>
  </div>
  </div>

  <!-- Button -->
  <div class="control-group">
  <label class="control-label" for="actualizar"></label>
  <div class="controls">
    <button id="actualizar" name="actualizar" class="btn btn-primary">Actualizar</button>
    <button id="adicionar" name="actualizar" class="btn btn-primary">Adicionar otro</button>
  </div>
  </div>

  </fieldset>
  </form>

      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Tu Perfil Académico
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
     <form class="form-horizontal">
  <fieldset>


  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="organizacion">Institución</label>
  <div class="controls">
    <input id="organizacion" name="organizacion" type="text" placeholder="ej: Universidad de Antioquia" class="input-large">

  </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
  <label class="control-label" for="cargo">Título</label>
  <div class="controls">
    <input id="cargo" name="cargo" type="text" placeholder="ej: Médico general" class="input-medium">

  </div>
  </div>

  <!-- Select Basic -->


  <!-- Text input-->


  <!-- Textarea -->
  <div class="control-group">
  <label class="control-label" for="descripcion">Descripción</label>
  <div class="controls">
    <textarea id="descripcion" name="descripcion">logros obtenidos y reconocimientos</textarea>
  </div>
  </div>

  <!-- Button -->
  <div class="control-group">
  <label class="control-label" for="actualizar"></label>
  <div class="controls">
    <button id="actualizar" name="actualizar" class="btn btn-primary">Actualizar</button>
    <button id="adicionar" name="actualizar" class="btn btn-primary">Adicionar otro</button>
  </div>
  </div>

  </fieldset>
  </form>

      </div>
    </div>
  </div>
</div>
<script>
$('.collapse').collapse()
</script>
{% endblock %}
