{% extends "inicio/board.html" %}

{% block title %}
Perfil Profesional
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Tu Perfil Profesional
        </a>
      </h4>
    </div>
    <!-- Desplegable 1 -->
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

   <form class="form-horizontal" method="POST">{% csrf_token %}
           
    {{ form.as_p }}
       <input type="submit" value="Agregar">
    </form>
    </div>
  </div>
  </div>
</div>
<script>
$('.collapse').collapse()
</script>
{% endblock %}
