{% extends "inicio/board.html" %}

{% block title %}
Perfil - Personal
{% endblock %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="box">
            <div class="box-content">
              <a href=/home/perfilpublico/{{user.id}} target="blank"/>
                <h4>Ir a mi perfil público</h4></a>
            </div>
            <div class="box-header">
                <i class="icon-bookmark"></i>
                <h5>Mi Perfil</h5>
            </div>
       {% include 'inicio/menu_perfil_medicos.html' %}
        </div>
{% include 'inicio/menu_aplicaciones_medicos.html' %}

    </div>
        <div class="span7">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <legend class="lead">
                        Mis Datos Personales
                    </legend>
                </h4>
              </div>
              <!-- Desplegable 1 -->
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

             <form enctype="multipart/form-data" class="form-horizontal" method="POST">{% csrf_token %}
              {{ form.as_p }}
                 <input type="submit" value="Actualizar" class="btn btn-primary">
              </form>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.collapse').collapse()
</script>
{% endblock %}
