{% extends "pacientes/index.html" %}

{% block title %}
Historial Clínico - Mis Historia Médica
{% endblock %}

{% block content %}
<br>
{% include 'pacientes/menu_historia_clinica_antecedentes.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                               {% include 'pacientes/menu_historia_clinica_antecedentes_personales.html' %}
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-5">
                    <div class="well well-sm">
                    <div class="alert alert-info">
                        <h5><label>Historia: </label></h5></div>
                                     <form enctype="multipart/form-data" class="form-horizontal" method="POST">{% csrf_token %}
              {{ form }}
              <p></p>
              <div class="tooltip-demo">
 <button type="submit" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ingresar historia"><i class="fa fa-check"></i></button>
 </div>
 <p></p>
              </form>
                    </div>
                </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
