{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

        <div class="container">
            <form method="post" action="." class="form-signin" role="form">{% csrf_token %}
                <h2 class="form-signin-heading"></h2>
                {% if form.errors %}
                    <div class="alert alert-danger">El Usuario y/o la contraseña no coincide</div>
                {% endif %}

                {% for field in form %}
                    <p>{{ field }}</p>
                {% endfor %}
                <button class="btn btn-default btn-block" type="submit">Entrar</button>
               <br>Aún no tienes tu cuenta? <a href="/registrarse/">Regístrate Gratis</a>
            </form>
        </div>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    </body>
</html>
{% endblock %}