{% extends "base.html" %}

{% block title %}
Registro
{% endblock %}

{% block content %}

        <div class="container">
            <form method="post" action="." class="form-register" role="form">{% csrf_token %}
                <h2 class="form-register-heading"></h2>
                    {% if form.errors %}
                        <div class="alert alert-danger">Revisa los campos en rojo</div>  
                    {% endif %}

                    {% for field in form %}
                        <p>{{ field }}</p>
                    {% endfor %}
                <button class="btn btn-default btn-block" type="submit">Crear una cuenta</button>
                <br>Ya tienes una cuenta? <a href="/login/">Inicia sesión aquí</a>
            </form>
        </div>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    </body>
</html>
{% endblock %}