{% extends "base.html" %}

{% block title %}
Registro
{% endblock %}

{% block content %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>¡Bienvenido!</h2>
        <p class="lead">Para hacer uso de los servicios que ofrece nuestra plataforma, debes ingresar a la cuenta de tu correo y confirmar el registro a través del email que te hemos enviado.</p>
         <h4>¡Gracias por registrarte!</span></h4>
         <a href="/login/">ENTRAR</a>
      </div>

      <hr>

    {% endblock %}