
{% extends "pacientes/index.html" %}

{% block title %}
Perfil - Redes Sociales
{% endblock %}

{% block content %}
<div class="row">
  {% include 'pacientes/menu_perfil_datos.html' %}
      </div>
        <div class="span7">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <legend class="lead">
                        Mis Redes Sociales
                    </legend>
                </h4>
              </div>
              <!-- Desplegable 1 -->
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

             <form class="form-horizontal" method="POST">{% csrf_token %}
              {{ form.as_p }}
                 <input type="submit" value="Actualizar" class="btn btn-primary">
              </form>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
<p>

{% endblock %}
