{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Eliminar Rutinas de Ejercicio
{% endblock %}

{% block content %}
<br>
<h1 class="page-header">Mi Diario Médico</h1>
<p>
<a href="{% url 'listar_sintomas_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis síntomas</button></a>
<a href="{% url 'listar_estado_animo_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mi estado de ánimo</button></a>
<a href="{% url 'listar_peso_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis mediciones médicas</button></a>
<a href="{% url 'listar_ejercicio_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis rutinas de salud</button></a>
<a href="{% url 'listar_medicamento_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis tratamientos</button></a>
<a href="{% url 'listar_resultado_lab_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis resultados de exámenes</button></a>
<a href="{% url 'listar_cita_paciente' %}"><button type="button" class="btn btn-primary btn-sm">Mis próximas citas</button></a>  
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                            <a href="{% url 'listar_ejercicio_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Ejercicio</button></a>
                    <a href="{% url 'listar_alimentacion_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Alimentación</button></a>
                                
                            </div>
                            <div class="panel-body">
   <div class="col-lg-6">
            <div class="well">
                       
                               <h5><label>¿Está seguro de que quiere eliminar este ejercicio?</label></h5>
                    <p></p>
 <form enctype="multipart/form-data" class="form-horizontal" method="POST">{% csrf_token %}
             <div class="tooltip-demo">
                 <button type="submit" class="btn btn-danger btn-circle btn-lg" data-toggle="tooltip" data-placement="right" title="" data-original-title="Eliminar"><i class="fa fa-times"></i>
                            </button>
                            </div>
                           
                         
                    
              </form>
 <p></p>
 <div class="tooltip-demo">
   <a href="{% url 'listar_ejercicio_paciente' %}">
   <button type="button" class="btn btn-primary btn-circle btn-lg" data-toggle="tooltip" data-placement="right" title="" data-original-title="Regresar"><i class="fa fa-list"></i> 
                            </button></a></div><p></p>
                    </div>
             
            </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
