{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Listar Rutinas de Alimentación
{% endblock %}

{% block content %}
<br>
<div class="row">
{% include 'pacientes/menu_diario_medico.html' %}
</div>
<div class="span12">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                            {% include 'pacientes/menu_diario_medico_rutinas.html' %}
                                
                            </div>
                            <p class="navbar-text">Alimentación</p>
                          <div class="col-lg-6">
              <div class="panel panel-default">
                        <div class="panel-heading">
                           <a href="{% url 'ingresar_alimentacion_paciente' %}"><h4><i class="fa fa-plus-square"></i> Adicionar alimentación</h4></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
          
                                            <th>Nombre Alimento</th>
                                            <th>Hace</th>

                                        </tr>
                                    </thead>
                                    {% for alimentacion in object_list %}
                                    <tbody>
                                        <tr>
                                            <td>{{alimentacion.nombre}}</td>
                                             <td>{{alimentacion.timestamp|timesince}}</td>
                                             <td>
                                                 <a href={% url 'eliminar_alimentacion_paciente' alimentacion.id %}>Eliminar</a>
                                               
                                            </td>
                                            <td>
                                                <a href={% url 'ver_detalles_alimentacion_paciente' alimentacion.id %}>Ver detalle</a>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
