{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Listar Próximas Citas
{% endblock %}

{% block content %}
<br>
<div class="row">
{% include 'pacientes/menu_diario_medico.html' %}
</div>
<div class="span12">
  <div class="col-lg-12">
    <div class="panel panel-default">
                           <div class="panel-heading">
                                <a href="{% url 'listar_cita_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-clock-o"></i> Citas</button></a>
                            </div>
                            <div class="panel-body">
                            <p class="navbar-text">Citas</p>
               <div class="col-lg-6">
              <div class="panel panel-default">
                        <div class="panel-heading">
                           <a href="{% url 'ingresar_cita_paciente' %}"><h4><i class="fa fa-plus-square"></i> Adicionar cita</h4></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
          
                                            <th>Centro</th>
                                            <th>Nombre especialista</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                        </tr>
                                    </thead>
                                    {% for cita in object_list %}
                                    <tbody>
                                        <tr>
                                            <td>{{cita.proveedor}}</td>
                                            <td>{{cita.nombre_especialista}}</td>
                                            <td>{{cita.fecha}}</td>
                                            <td>{{cita.hora}}</td>
                                             <td>
                                                 <a href={% url 'eliminar_cita_paciente' cita.id %}>Eliminar</a>
                                               
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
