{% extends "pacientes/index.html" %}

{% block title %}
Clubes - Listar
{% endblock %}

{% block content %}
<div class="row">
    <div class="span5">
 
{% include 'pacientes/menu_hub_salud_paciente.html' %}

    </div>
       </div>
        <div class="span7">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <legend class="lead">
                        Mis Clubes
                    </legend>
                </h4>
              </div>
              <!-- Desplegable 1 -->
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="box pattern pattern-sandstone">
                            <div class="box-header">
                                <i class="icon-table"></i>
                                <h5>
                                     <a href="{% url 'ingresar_club_paciente' %}">Subscribirse a un club</a>
                                </h5>
                            </div>
                            <div class="box-content box-table">
                                <table id="sample-table" class="table table-hover table-bordered tablesorter">
                                    <thead>
                                        <tr>
                                            <th class="header">Club</th>
                                 
                                        </tr>
                                    </thead>
                                    {% for subscripcionclub in object_list %}
                                    <tbody>
                                        <tr>
                                            <td><a href={% url 'mostrar_club_medico_home' subscripcionclub.club_id %}>{{subscripcionclub.club}}</a></td>
                                             <td class="td-actions">
                                                 <a href="{% url 'actualizar_club_medico' subscripcionclub.id %}">Actualizar</a>
                                                 <a href="{% url 'eliminar_club_medico' subscripcionclub.id %}">Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.collapse').collapse()
</script>
{% endblock %}
