{% extends "inicio/board.html" %}

{% block title %}
Aplicaciones - Eliminar Experiencia Profesional
{% endblock %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="box">
            <div class="box-content">
              <a href=/home/perfilpublico/{{user.id}} target="blank"/>
                <h4>Ir a mi perfil público</h4></a>
            </div>
            <div class="box-header">
                <i class="icon-bookmark"></i>
                <h5>Mi Perfil</h5>
            </div>
         {% include 'inicio/menu_perfil_medicos.html' %}
        </div>
   {% include 'inicio/menu_aplicaciones_medicos.html' %}

    </div>
        <div class="span7">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <legend class="lead">
                        Mi Experiencia Profesional
                    </legend>
                </h4>
              </div>
              <!-- Desplegable 1 -->
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
  
                    <p>¿Está seguro de que quiere eliminar esta experiencia profesional?</p>
                    <p></p>
 <form enctype="multipart/form-data" class="form-horizontal" method="POST">{% csrf_token %}
              
                 <input type="submit" value="Eliminar" class="btn btn-primary">
                    
              </form>
 <p></p>
   <a href="{% url 'listar_info_profesional' %}"><button type="submit" class="btn btn-primary">
                            <i class="icon-ok"></i>
                            Cancelar
                        </button></a>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.collapse').collapse()
</script>
{% endblock %}
