{% extends "pacientes/index.html" %}

{% block title %}
Mi Historia Clínica - Mis Enfermedades
{% endblock %}

{% block content %}
<br>
<h1 class="page-header">Mi Historia Clínica</h1>
<p>
<a href="/paciente/historiaclinica/resumen/"><button type="button" class="btn btn-primary btn-sm">Mi resumen clínico	</button></a>
<a href="/paciente/historiaclinica/enfermedades/"><button type="button" class="btn btn-primary btn-sm">Mis enfermedades</button></a>
<a href="/paciente/historiaclinica/antecedentes/"><button type="button" class="btn btn-primary btn-sm">Mis antecedentes</button></a>
<a href="/paciente/historiaclinica/diagnosticos/"><button type="button" class="btn btn-primary btn-sm">Mis diagnósticos</button></a>

                               
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-user-md"></i> Mis Enfermedades</h3>
                                
                            </div>
                            <div class="panel-body">
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
