{% extends "pacientes/index.html" %}

{% block title %}
Mi HubSalud - Mis Médicos
{% endblock %}

{% block content %}
<br>
<h1 class="page-header">Mi Hub de Salud</h1>
<p>
<a href="/paciente/hubsalud/clubes/"><button type="button" class="btn btn-primary btn-sm">Mis clubes de salud	</button></a>
<a href="/paciente/hubsalud/medicos/"><button type="button" class="btn btn-primary btn-sm">Mis médicos</button></a>


                               
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-user-md"></i> Mis Médicos</h3>
                                
                            </div>
                            <div class="panel-body">
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
