{% extends "inicio/board.html" %}

{% block title %}
Perfil - Personal
{% endblock %}

{% block content %}
<section class="page container">
            <div class="row">
                <div class="span12">
                <div class="box pattern pattern-sandstone">
                    <div class="box-header">
                        <i class="icon-list"></i>
                        <h5>Mis Pacientes</h5>
                        <button class="btn btn-box-right" data-toggle="collapse" data-target=".box-list">
                            <i class="icon-reorder"></i>
                        </button>
                    </div>
                    <div class="box-content box-list in collapse" style="height: auto;">
                        <ul>
                        {% for paciente in paciente %}
                            <li>
                                <div>
                                    <a href=/home/pacientes/ver/{{paciente.user.id}} class="news-item-title">{{ paciente.nombres }} {{ paciente.apellidos }}</a>
                                    
                                </div>
                            </li>
                         {% endfor %} 
                        </ul>
                      
                       
                    </div>

                </div>
            </div>
              
            </div>
        </section>
<script type="text/javascript">
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
{% endblock %}
