                        
  <div class="span9">
      <div class="box">
       <div class="box-content">
            <a href={% url 'perfil_principal_paciente' %} />
              <h4>Ver mi perfil público</h4></a>
          </div>
          <div class="box-header">
              <i class="icon-bookmark"></i>
              <h5>Mi Perfil</h5>
          </div>
          <div class="box-content">
              <div class="btn-group-box">
                  <a href="/paciente/perfilbasico"><button class="btn"><i class="icon-user icon-large"></i><br>Mis Datos Personales</button></a>
                  <a href="/paciente/perfilbasico/contacto"><button class="btn"><i class="icon-phone-sign icon-large"></i><br>Mis Datos de Contacto</button></a>
                  <a href="/paciente/perfilbasico/social"><button class="btn"><i class="icon-comment icon-large"></i><br>Mis Redes Sociales</button></a>
              </div>
          </div>
      </div>