<h3>Antecedentes Personales</h3>
 <a href="{% url 'listar_resumenclinico_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mi Historia Médica</button></a>
                               <a href="{% url 'listar_enfermedad_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mis Enfermedades</button></a>
                               <a href="{% url 'listar_cirugia_paciente' %}"><button type="button" class="btn btn-outline btn-info"><i class="fa fa-user-md"></i> Mis Cirugías</button></a>