{% extends "pacientes/index.html" %}

{% block title %}
Diario Médico - Mis Tratamientos
{% endblock %}

{% block content %}
<br>
<h1 class="page-header">Mi Diario Médico</h1>
<p>
<a href="/paciente/diariomedico/sintomas/"><button type="button" class="btn btn-primary btn-sm">Mis síntomas</button></a>
<a href="/paciente/diariomedico/animo/"><button type="button" class="btn btn-primary btn-sm">Mis estados de ánimo</button></a>
<a href="/paciente/diariomedico/mediciones/"><button type="button" class="btn btn-primary btn-sm">Mis mediciones médicas</button></a>
<a href="/paciente/diariomedico/rutinas/"><button type="button" class="btn btn-primary btn-sm">Mis rutinas de salud</button></a>
<a href="/paciente/diariomedico/tratamientos/"><button type="button" class="btn btn-primary btn-sm">Mis tratamientos</button></a>
<a href="/paciente/diariomedico/resultados/"><button type="button" class="btn btn-primary btn-sm">Mis resultados de exámenes</button></a>
<a href="/paciente/diariomedico/citas/"><button type="button" class="btn btn-primary btn-sm">Mis próximas ciitas</button></a>
                               
</p>

<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-user-md"></i> Mis Tratamientos</h3>
                            </div>
                            <div class="panel-body">
               
  </div>
                               
                            </div>

   </div>

</div><!-- /.row -->


{% endblock %}
