{% extends "pacientes/index.html" %}

{% block title %}
Perfil - Básico
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Actual <small>Todo</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-home"></i> Actividad</li>
    </ol>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Mediciones
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">

          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              Peso
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">

          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              Comida
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-check fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Ejercicio
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-check fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Presión arterial
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-check fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Colesterol
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">

    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Mediciones
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">

          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              Procedimientos
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
<div class="col-lg-3">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Alergias
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Medicamentos
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Inmunizaciones
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            Dispositivos Médicos
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
</div><!-- /.row -->

{% endblock %}
